@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Poppins", "Roboto";
}

/* HTML: <div class="loader"></div> */
.loader {
  --c: #525252;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  overflow: hidden;
  text-shadow: 0 0 var(--c), 11ch 0 var(--c);
  animation: l6 2s infinite linear;
}
.loader:before {
  content: "Loading...";
}
@keyframes l6 {
  to {
    text-shadow: -11ch 0 var(--c), 0ch 0 var(--c);
  }
}
